<i class='blue filter icon'   
data-html='
<div class="options">
<div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="example">
      <label>男</label>
    </div>
  </div>
<br>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="example1">
      <label>女</label>
    </div>
  </div>
</div>
<hr>
  <button class="ui small  button" ng-click="cancel()">
    Reset
  </button>
  <button class="ui small button" ng-click="submit()">
    OK
  </button>

' </i>